<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <variable name="MYSQL_HOSTNAME" defaultValue="mysql"/>
    <variable name="MYSQL_PORT" defaultValue="3306"/>
    <variable name="MYSQL_DATABASE" defaultValue="people-db"/>
    <variable name="MYSQL_ROOT_PASSWORD" defaultValue="root"/>
    <variable name="MYSQL_USE_SSL" defaultValue="true"/>

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>mpOpenAPI-3.1</feature>
        <feature>persistence-3.1</feature>
        <!-- <feature>data-1.0</feature>-->
        <feature>enterpriseBeans-4.0</feature>
        <feature>messaging-3.1</feature>
        <feature>messagingServer-3.0</feature>
        <feature>messagingClient-3.0</feature>
        <feature>monitor-1.0</feature> <!-- Needed for live reload? -->
        <feature>mpHealth-4.0</feature> <!-- Needed for test containers -->
    </featureManager>

    <library id="MySQLLib">
        <fileset dir="${shared.resource.dir}/" includes="mysql*.jar"/>
    </library>

    <dataSource id="DefaultDataSource"
                jndiName="jdbc/peopleMySqlDatasource">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties serverName="${MYSQL_HOSTNAME}"
                    portNumber="${MYSQL_PORT}"
                    databaseName="${MYSQL_DATABASE}"
                    user="root" password="${MYSQL_ROOT_PASSWORD}"
                    useSSL="${MYSQL_USE_SSL}" allowPublicKeyRetrieval="true"
                    serverTimezone="UTC"/>
    </dataSource>

    <!--    For jms: -->

    <!--    This is the message broker, built-in in OpenLiberty (being WAS JMS),  with one queue. -->
    <messagingEngine>
        <queue id="salaris"/>
    </messagingEngine>

    <!--    A factory to be used in my code via @Resource, to get my JMS context -->
    <jmsQueueConnectionFactory jndiName="jms/connectionFactory">
        <properties.wasJms remoteServerAddress="localhost:7276:BootstrapBasicMessaging"/>
    </jmsQueueConnectionFactory>

    <!--    The JmsQueue to be used in my code via @Resource, coupled to the queue on wasJms -->
    <jmsQueue id="salarisJmsQueue" jndiName="jms/salarisQueue">
        <properties.wasJms queueName="salaris"/>
    </jmsQueue>

    <!--    My MessageDrivenBean, being SalarisOvermakenConsumer, that's annotated with @MessageDriven(name = "aangifteMdb") -->
    <jmsActivationSpec id="people/salarisMdb"> <!--syntax: <war-name>/<mdb-name> (ENC syntax)-->
        <properties.wasJms destinationRef="salarisJmsQueue" destinationType="jakarta.jms.Queue"/>
    </jmsActivationSpec>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <applicationMonitor updateTrigger="mbean"/>
</server>

